

body {
    background-image: url("boy.jpeg");
    background-size: cover;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    color: #E0F0F5;
    text-shadow: 0px 0px 5px black;
    height: 100vh;
}

.div {
    max-width: 500px; 
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    
}

h2 {
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

#increment-btn {
    background: lightblue;
}

#save-btn {
    background: lightskyblue;
}


